@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  height: 100%;
}
:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
.auth-container {
  background: linear-gradient(180deg, #110f0f 0%, rgba(109, 109, 109, 0) 100%);
  box-shadow: 0px 4px 30px 7px rgba(109, 109, 109, 0.7);
  border-radius: 32px;
}
.auth__right-container {
  background: linear-gradient(180deg, #110f0f 0%, rgba(109, 109, 109, 0) 100%);
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    margin-right: 0px;
  }
  to {
    opacity: 1;
    margin-right: 50px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    margin-right: 0px;
  }
  to {
    opacity: 1;
    margin-right: 50px;
  }
}
.toaster {
  -webkit-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 2s ease-in-out;
}
.label-transition {
  margin-left: 0;
  transform: translateX(0);
  transition: all 2s ease;
}
.input-transition:focus-within .label-transition {
  color: #2476f1;
  margin: auto;
  transform: translateX(50%);
  transition: all 2s ease;
}

.error-message {
  color: #f56565;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.error-message.show {
  opacity: 1;
}

.error-message.hide {
  opacity: 0;
}
#verified {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#verified2 {
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blur-effect > *:not(#verified, #verified2) {
  filter: blur(5px);
  pointer-events: none;
}
.chakra-tabs__tab:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.chakra-tabs__tab:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
.nav-item {
  flex: 1 0 0;
}
@media (min-width: 620px) {
  .nav-item {
    flex: 0 1 auto;
  }
}
.nav-menu {
  flex-basis: 100%;
  max-height: 100px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-hide {
  max-height: 0;
  transition: all 0.5s ease-in-out;
}
.ham-icon {
  width: 46px;
  height: 46px;
}
.nav-li a {
  margin-right: 3rem;
  color: #9fa3a8;
}
.nav-li a.active {
  color: #fdfdfe;
}
.nav-li:last-child {
  margin-right: 0;
}
@media (max-width: 620px) {
  .nav-li a {
    margin-right: 0;
  }
  .nav-li:last-child {
    margin-right: 0.5rem;
  }
}
select {
  background-image: url("/select-arrow-down.png");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  padding-right: 38px !important;
  -webkit-appearance: none; /* removes default styling for Safari */
  -moz-appearance: none; /* removes default styling for Firefox */
  appearance: none;
}
.dollar-symbol {
  font-family: "calibri";
}
@media only screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }
}
html,
body,
form,
main {
  height: 100%;
}
.img-for-joined-waves {
  margin-left: -7px;
}
